body {
    font-family: 'Arial', sans-serif;

    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .buttonGroup{
    display: flex;
    justify-content: center;
    gap:10px;
  }
  .traffic-light-img {
    width: 100px;
    height: 150px;
  }
 .exit{
    margin-top: 10px ;
 }
  .shoe-img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }